[Unit]
Description=InfluxDB 3 Service
After=network.target

[Service]
User=root
ExecStart=/root/.influxdb/influxdb3 serve \
  --node-id={{ node_id | default('node0') }} \
  --http-bind=0.0.0.0:{{ db_port }} \
  --object-store=file \
  --data-dir /root/.influxdb/data
Restart=always

[Install]
WantedBy=multi-user.target
