# BEGIN ANSIBLE MANAGED BLOCK - COLUMNSTORE PARAMETERS
[mariadb]
log_error = mariadbd.err
character_set_server = utf8
collation_server = utf8_general_ci
# END ANSIBLE MANAGED BLOCK - COLUMNSTORE PARAMETERS