[defaults]
inventory = /etc/ansible/hosts
interpreter_python = auto_silent
verbosity = 1
#stdout_callback = yaml
callback_result_format = yaml
bin_ansible_callbacks = true
callbacks_enabled = profile_tasks, timer
display_skipped_hosts = false
show_custom_stats = true
ANSIBLE_PIPELINING = True
