[Unit]
Description=DataNode Service
After=network.target

[Service]
Type=forking
ExecStart=/iotdb/sbin/start-datanode.sh -d
ExecStop=/iotdb/sbin/stop-datanode.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target